[submodule "external/parser"]
	path = external/parser
	url = https://github.com/p-ranav/argparse
[submodule "external/termcolor"]
	path = external/termcolor
	url = https://github.com/ikalnytskyi/termcolor
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2
