[submodule "external/parser"]
	path = external/parser
	url = https://github.com/p-ranav/argparse
[submodule "external/termcolor"]
	path = external/termcolor
	url = https://github.com/ikalnytskyi/termcolor
